{% extends 'base.html'%}
{%block title%}
<title>StandoffCash</title>
{%endblock%}
{%block body%}
<<div class="container">
    <h1>Что такое <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://ru.wikipedia.org/wiki/Standoff_2">Standoff 2</a></h1>
    <p>Standoff 2 - это онлайн-шутер от первого лица, который пользуется популярностью среди игроков по всему миру. В этой игре игроки могут купить внутриигровую валюту, которую можно использовать для покупки различных предметов, таких как оружие, скины, перки и т.д. Как правило, внутриигровая валюта продается за реальные деньги, и магазин, который продает эту валюту, может получать прибыль от этих продаж. Однако, обязательно учитывайте, что продажа внутриигровой валюты нарушает правила Standoff 2 и может привести к блокировке учетной записи пользователя.</p>
</div>
{%endblock%}