{% extends 'base.html'%}
{%block title%}
<title>StandoffCash</title>
{%endblock%}
{%block body%}
<h1>Онлай магазин StandoffCash</h1><br>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" bis_skin_checked="1">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm" bis_skin_checked="1">
          <div class="card-header py-3" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">100 голды✨</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">49<small class="text-body-secondary fw-light">/руб.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>самое маленькое</li>
              <li>подходит если прям</li>
              <li>не хватает чуть-чуть👌</li>
                <li>или мало деняк👀</li>


            </ul>

    <button type="button" class="w-100 btn btn-lg btn-success " onclick="location.href='/pay/EFBJNWOJEVNOWBNPFIUBWBEY'">Купить</button>

          </div>
        </div>
      </div>
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm border-success" bis_skin_checked="1">
          <div class="card-header py-3 text-bg-success border-success" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">500 голды✨</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">249<small class="text-body-secondary fw-light">/руб</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>как чизбургер</li>
              <li>во вкусно и точко🍔</li>
              <li>так же вкусно</li>
              <li>но так же мало👌<li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-success" onclick="location.href='/pay/EFBNIBSDBVFIWBEGB'">Купить</button>
          </div>
        </div>
      </div>
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm border-primary" bis_skin_checked="1">
          <div class="card-header py-3 text-bg-primary border-primary" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">1000 голды✨</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">499<small class="text-body-secondary fw-light">/руб</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>начальный уровень</li>
              <li>становления элитой</li>
              <li>не богато🕶</li>
              <li>но и это сойдет</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-success" onclick="location.href='/pay/QWHVNQOVSAJJVQIGD'">Купить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" bis_skin_checked="1">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm border-primary" bis_skin_checked="1">
          <div class="card-header py-3 text-bg-primary border-primary" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">2000 голды✨</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">990<small class="text-body-secondary fw-light">/руб</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>что то среднее</li>
              <li>между элитой👑</li>
              <li>и средним классом</li>
              <li>ни туда ни сюда</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-success" onclick="location.href='/pay/SFBJNOISDBVGHWEVJWNB'">Купить</button>
          </div>
        </div>
      </div>
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm border-danger" bis_skin_checked="1">
          <div class="card-header py-3 text-bg-danger border-danger" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">3000 голды✨</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">1490<small class="text-body-secondary fw-light">/руб</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>молодая звезда🌟</li>
              <li>элита среди друзей👑</li>
              <li>и просто классный человек</li>
              <li>с деньгами проблем нет💰</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-success" onclick="location.href='/pay/SFOWREGBIJNWNEOGBNPWD'">Купить</button>
          </div>
        </div>
      </div>
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm border-danger" bis_skin_checked="1">
          <div class="card-header py-3 text-bg-danger border-danger" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">5000 голды✨👀</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">2490<small class="text-body-secondary fw-light">/руб</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>самый богатый🤑</li>
              <li>владелец всех денег💸</li>
              <li>и любимец дам👩</li>
              <li>за покупку уважеие в школе📈</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-success" onclick="location.href='/pay/WSDFIHBIWBEVIPUBWPIEBG'">Купить</button>
          </div>
        </div>
      </div>
    </div>

{%endblock%}
