{% extends 'base.html'%}
{%block title%}
<title>StandoffCash</title>
{%endblock%}
{%block body%}
<div class="container">
    <h1>Страница оплаты товаров</h1><br>
    <h2>*Сделайте скриншот оплаты для подтверждения покупки*</h2><br>
<h2>P.S *Сумму нужно указывать самостоятельно*
</h2><br>
    <h2>Сумма к оплате   <b>49/руб<br><br></b>Реквизиты для оплаты  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://youtu.be/8t9uE7WlLOY">*Тык*</a></h2>
    </div>
{%endblock%}