{% extends 'base.html'%}
{%block title%}
<title>StandoffCash</title>
{%endblock%}
{%block body%}
<<div class="container">
    <h1>Легенда трейда</h1>
    <p>Трейдинг (англ. trading) - это процесс покупки и продажи финансовых инструментов (акции, валюты, сырьевые товары и т.д.) на различных рынках с целью получения прибыли от разницы между ценами покупки и продажи. Трейдинг может осуществляться как на традиционных биржах, так и на электронных торговых площадках. Для успешного трейдинга необходимо иметь хорошее понимание финансовых рынков, умение анализировать финансовые данные и принимать инвестиционные решения на основе этого анализа. </p>
</div>
{%endblock%}
